WebContent/WEB-INF/wsdl/user.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
		xmlns:tns="http://service.qiugui.edu.cn" 
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		name="UserService" 
		targetNamespace="http://service.qiugui.edu.cn">
  <wsdl:types>
    <xsd:schema targetNamespace="http://service.qiugui.edu.cn">
		<xsd:include schemaLocation="user.xsd" />
		<!-- 没有命名空间，就可以用 xsd:import 的方式 -->
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="add">
  	<wsdl:part element="tns:add" name="parameters" />
  </wsdl:message>
  <wsdl:message name="addResponse">
  	<wsdl:part element="tns:addResponse" name="parameters" />
  </wsdl:message>
  
  <wsdl:message name="delete">
  	<wsdl:part element="tns:delete" name="parameters" />
  </wsdl:message>
  <wsdl:message name="deleteResponse">
  	<wsdl:part element="tns:deleteResponse" name="parameters" />
  </wsdl:message>
  
  <wsdl:message name="list">
  	<wsdl:part element="tns:list" name="parameters" />
  </wsdl:message>
  <wsdl:message name="listResponse">
  	<wsdl:part element="tns:listResponse" name="parameters" />
  </wsdl:message>
  
  <wsdl:message name="login">
  	<wsdl:part element="tns:login" name="parameters" />
  </wsdl:message>
  <wsdl:message name="loginResponse">
  	<wsdl:part element="tns:loginResponse" name="parameters" />
  </wsdl:message>
  
  <wsdl:message name="UserException">
  	<wsdl:part name="fault" element="tns:UserException" />
  </wsdl:message>
  
  <wsdl:portType name="IUserService">
  	<wsdl:operation name="add">
  		<wsdl:input message="tns:add" />
  		<wsdl:output message="tns:addResponse" />
  		<wsdl:fault name="UserException" message="tns:UserException" />
  	</wsdl:operation>
  	
  	<wsdl:operation name="delete">
  		<wsdl:input message="tns:delete" />
  		<wsdl:output message="tns:deleteResponse" />
  	</wsdl:operation>
  	
  	  	<wsdl:operation name="list">
  		<wsdl:input message="tns:list" />
  		<wsdl:output message="tns:listResponse" />
  	</wsdl:operation>
  	
  	  	<wsdl:operation name="login">
  		<wsdl:input message="tns:login" />
  		<wsdl:output message="tns:loginResponse" />
  		<wsdl:fault name="UserException" message="tns:UserException" />
  	</wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="userServiceSOAP" type="tns:IUserService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="add">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UserException">
      	<soap:fault name="UserException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
    <wsdl:operation name="delete">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="list">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="login">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UserException">
      	<soap:fault name="UserException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="UserService">
    <wsdl:port binding="tns:userServiceSOAP" name="UserServicePort">
      <soap:address location="http://localhost:8080/ws_soa/tc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
